<style>
  .is-hidden {
    display: none;
  }
</style>

<h1 class="title">Create an account</h1>

<p class="account-message">
  Are you a pro ???
  <a href="/signup-pro">Register as a professional</a>
</p>


<p class="account-message">
  Do you already have an account?
  <a href="/login">Login</a>
</p>

{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}

<form class="signup" action="/signup" method="POST" id="form-container">
  <input type="text" name="name" placeholder="name" value="toto">
  <input type="text" name="lastname" placeholder="lastname" value="titi">
  <br></br><br>

  <input type="age" name="age" placeholder="Age" value="22">
  <br></br><br>


  <div id="user_gender">
    <label for="teacher">Male</label>
    <input type="radio" name="gender" value="Male" checked>
    <label for="student">Female</label>
    <input type="radio" name="gender" value="Female">
  </div>
  <br></br><br>

  <input type="email" name="email" placeholder="Email" value="gui@gui.com">
  <br></br><br>



  <label for="password"></label>
  <input id="password" type="password" name="password" placeholder="Your password" value="1234">
  <br></br><br>



  <div id="register_user_role">
    <label for="teacher">Teacher</label>
    <input class="role-radio" type="radio" name="user_role" value="Teacher" id="teacher">
    <label for="student">Student</label>
    <input class="role-radio" type="radio" name="user_role" value="Student" id="student" checked>
  </div><br></br><br>

  <div id="role_Teacher" class="role-block is-hidden">

  </div>


  <div id="role_Student" class="role-block">
    <input type="url" name="website" placeholder="webSite">
    <label for="user_university">university name</label>
    <select name="university" id="user_university">
      {{#each universities}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label for="user_degree">your degree</label>
    <select name="degree" id="user_degree">
      {{#each degrees}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>


  <button>Create Account</button>
</form>