<form action="/school-profile/edit/{{school._id}}" method="post">

    <label for="name"></label>
    <input id="name" type="text" name="name" placeholder="name" value="{{school.name}}">
    <label for="email"></label>
    <input id="email" type="text" name="email" placeholder="email" value="{{school.email}}">
    <label for="dateOfCreation"></label>
    <input id="dateOfCreation" type="text" name="dateOfCreation" placeholder="Date of creation"
        value="{{school.dateOfCreation}}">
    <label for="field"></label>
    <input id="field" type="text" name="field" placeholder="field" value="{{school.field}}">
    <label for="website"></label>
    <input id="website" type="text" name="website" placeholder="website" value="{{school.website}}">
    <label for="degre"></label>
    <input id="degree" type="text" name="degree" placeholder="degrees" value="{{school.degree}}">
    <button>edit</button>
</form>