je suis le profile
{{user.role}}

{{#compare user.role "Teacher" operator="=="}}
je suis un prof
{{/compare}}

{{#compare user.role "Pro" operator="=="}}
Je suis un pro
{{/compare}}


{{#compare user.role "Student" operator="=="}}
Je suis un etudiant
{{/compare}}


<p>
    <p>name: {{ user.name }}</p>
    <p>lastname: {{ user.lastname }}</p>
    <p>email: {{ user.email }}</p>
    <p>age: {{ user.age }}</p>
    <p>role: {{ user.role }}</p>
</p>

<a href="/user-profile/edit/{{user._id}}">edit</a>