<form action="/user_profile/edit/{{user._id}}" method="post">
    <label for="name"></label>
    <input id="name" type="text" name="name" placeholder="name" value="{{user.name}}">
    <label for="email"></label>
    <input id="email" type="text" name="email" placeholder="email" value="{{user.email}}">
    <label for="age"></label>
    <input id="age" type="number" name="age" placeholder="age" value="{{user.age}}">
    <label for="field"></label>
    <input id="field" type="text" name="field" placeholder="field" value="{{user.field}}">
    <label for="skills"></label>
    <input id="skills" type="text" name="skills" placeholder="skills" value="{{user.skills}}">
    <label for="website"></label>
    <input id="website" type="text" name="website" placeholder="website" value="{{user.website}}">
    <label for="birthday"></label>
    <input id="birthday" type="text" name="birthday" placeholder="birthday" value="{{user.birthday}}">
    <button>edit</button>
</form>